html,
body {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0px;
    overflow: scroll;
    justify-content: center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body {
    background-image: url("./assets/images/dayCareHome.jpg");;
}

#navBar {
    background-color: rgba(255, 190, 106, 0.767);
    height: 7vh;
}
#logo {
    margin-top: .1%;
    height: 6.5vh;
    width: 4vw;
    border-radius: 35px;
    border: 2px solid rgb(255, 88, 88);
}

#homeLinks1,#homeLinks2,#homeLinks3,#homeLinks4 {
    font-weight: bold;
    font-size: 1rem;
    margin-right: 1%;
    margin-top: 1%;
    float: right;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    width: 6vw;
    text-align: center;
}

#homeLinks1 {
    background-color: rgb(192, 122, 192);
}

#homeLinks2 {
    background-color: rgb(69, 170, 177);
}

#homeLinks3 {
    background-color: rgb(64, 145, 99);
}

#homeLinks4 {
    background-color: rgb(196, 70, 70);
}

#homeLinks1:hover
{
    box-shadow:
    1px 1px #5376ea,
    3px 3px #5376ea,
    5px 5px #5376ea;
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
}

#homeLinks2:hover
{
    box-shadow:
    1px 1px #5376ea,
    3px 3px #5376ea,
    5px 5px #5376ea;
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
}

#homeLinks3:hover
{
    box-shadow:
    1px 1px #5376ea,
    3px 3px #5376ea,
    5px 5px #5376ea;
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
}

#homeLinks4:hover
{
    box-shadow:
    1px 1px #5376ea,
    3px 3px #5376ea,
    5px 5px #5376ea;
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
}

#container1 {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border: 3px rgb(143, 223, 186) solid;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

#indexJumbo {
    margin: 7%;
    background-color: rgb(143, 223, 186);
    border-radius: 10px;
}

#arborHeadLine {
    color: rgb(75, 75, 75);
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#jumboLine {
    color: darkgreen;
}

#dayCareImg {
    height: 30vh;
    width: 45vw;
}

#homeDetails {
    color: rgb(75, 75, 75);
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

.container2Home {
    background-color: rgb(150, 161, 221);
    border: 2px rgb(101, 118, 211) solid;
    padding: 3%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 30vw;
}

#title1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#title2 {
    color: white;
}

#content {
    color: rgb(56, 56, 56);
}

.container3Home {
    background-color: rgb(232, 255, 179);
    border: 2px rgb(142, 179, 8) solid;
    padding: 3%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 30vw;
}

#programImg {
    width: 26.5vw;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
}

#iframe1 {
    margin-top: 10%;
    height: 20vh;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px rgb(177, 177, 177) solid;
    justify-content: center;
    display: inline-block;
    text-align: center;
}

.container5Home {
    background-color: rgb(89, 158, 204);
    height: 19vh;
    width: 14vw;
    border: 2px white solid;
    border-radius: 10px;
    margin-top: 6%;
    justify-content: center;
    display: inline-block;
    text-align: center;
}

#faceBookPic {
    width: 12vw;
    height: 12vh;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
} 

#aboutUsCont1 {
    margin-top: 5%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    border-radius: 15px;
    border: 3px rgb(230, 132, 151) solid;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

#aboutUsImg {
    height: 40vh;
    margin: auto;
    display: block;
}

#staffImg {
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: block;
}

#outDoorImg {
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: block;
}

#aboutUsCont2 {
    background-color: rgb(230, 132, 151);
    border-radius: 10px;
    margin: 7%;
    padding: 2%;
}


#title3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: whitesmoke;
    text-align: center;
}

#contactArea1 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    display: block;
    margin-top: 5%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    border-radius: 15px;
    border: 3px rgba(137, 199, 250, 0.925) solid;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

#contactArea2 {
    background-color: rgba(137, 199, 250, 0.925);
    border-radius: 10px;
    margin: 5%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 7%;
}

#contactImg {
    border-radius: 35px;
    margin: 10%;
    box-shadow: 10px 10px 0px #00e6e6,
                 20px 20px 0px #01cccc,
                 30px 30px 0px #00bdbd;
}

#carouselImg{
    height: 70vh;
}

#registerHead {
    font-family: 'Cabin Sketch';
    color: red;
    text-align: center;
    margin-top: 2%;
}

#registerCont {
    background-color: white;
}

#footer {
    background-color: rgba(255, 190, 106, 0.767);
    height: 5vh;
    margin-top: 8%;
    padding-top: 1%;
    text-align: center;
    color: rgb(241, 93, 93);
}

#footer2 {
    background-color: rgba(255, 190, 106, 0.767);
    height: 5vh;
    padding-top: 1%;
    text-align: center;
    color: rgb(241, 93, 93);
}