html,
body {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0px;
    overflow: scroll;
    justify-content: center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body {
    background-image: url("./assets/images/pencilsRegister.jpg");;
}

#navBar {
    background-color: rgba(67, 184, 219, 0.795);
    height: 10vh;
}

#logo {
    margin-top: .4%;
    height: 8.5vh;
    width: 5vw;
    border-radius: 50%;
    border: 3px solid pink;
}

#homeLinks1,#homeLinks2,#homeLinks3,#homeLinks4 {
    font-weight: bold;
    margin-right: 1%;
    margin-top: 1.5%;
    float: right;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    border: none;
    width: 6vw;
    height: 4vh;
    text-align: center;
}

#homeLinks1 {
    background-color: rgb(192, 122, 192);
}

#homeLinks2 {
    background-color: rgb(81, 62, 165);
}

#homeLinks3 {
    background-color: rgb(64, 145, 99);
}

#homeLinks4 {
    background-color: rgb(196, 70, 70);
}

#homeLinks1:hover
{
    box-shadow:
    1px 1px rgb(248, 200, 111),
    3px 3px rgb(248, 200, 111),
    5px 5px rgb(248, 200, 111);
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
}

#homeLinks2:hover
{
    box-shadow:
    1px 1px rgb(248, 200, 111),
    3px 3px rgb(248, 200, 111),
    5px 5px rgb(248, 200, 111);
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
}

#homeLinks3:hover
{
    box-shadow:
    1px 1px rgb(248, 200, 111),
    3px 3px rgb(248, 200, 111),
    5px 5px rgb(248, 200, 111);
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
}

#homeLinks4:hover
{
    box-shadow:
    1px 1px rgb(248, 200, 111),
    3px 3px rgb(248, 200, 111),
    5px 5px rgb(248, 200, 111);
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
}

#container1 {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border: 3px rgb(67, 184, 219) solid;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .15);
}

#indexJumbo {
    margin: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 0;
    padding-left: 0;
    background-color: rgba(99, 188, 230, 0.932);
    border-radius: 10px;
}

#arborHeadLine {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#jumboLine {
    color: darkgreen;
}

#dayCareImg {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: block;
}

#homeDetails {
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
}

.container2Home {
    background-color: rgb(150, 161, 221);
    border: 2px rgb(101, 118, 211) solid;
    padding: 3%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#title1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#title2 {
    color: black;
}

#content {
    color: black;
}

.container3Home {
    background-color: rgb(232, 255, 179);
    border: 2px rgb(142, 179, 8) solid;
    padding: 3%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#container4 {
    background: linear-gradient(90deg, rgba(99, 168, 187, 0.856) 0%, rgba(111, 121, 197, 0.856) 73%);
    border-radius: 5px;
    border: 3px rgba(53, 53, 53, 0.856) solid;
}

#learnPic {
    height: 25vh;
    width: 15vw;
    margin: 2%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#imageHeader2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    font-family: 'Cabin Sketch';
    color: white
}

#programImg {
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: block;
}

#aboutUsCont1 {
    margin-top: 5%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    border-radius: 15px;
    border: 3px rgb(245, 80, 113) solid;
    background-color: rgba(255, 255, 255, .15);
}

#aboutUsImg {
    height: 40vh;
    margin: auto;
    display: block;
}

#curImg {
    height: 40vh;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#staffImg {
    height: 55vh;
    margin-top: 3%;
    margin-right: 2%;
    margin-left: 2%;
}

#outDoorImg {
    height: 55vh;
    margin-top: 3%;
    margin-right: 2%;
    margin-left: 2%;
}

#aboutUsCont2 {
    background-color: rgb(230, 132, 151);
    border-radius: 10px;
    margin: 7%;
    padding: 2%;
}


#title3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: whitesmoke;
    text-align: center;
}

#contactArea1 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    display: block;
    margin-top: 5%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    border-radius: 15px;
    border: 3px rgba(137, 199, 250, 0.925) solid;
    background-color: rgba(255, 255, 255, .15);
}

#contactArea2 {
    background-color: rgba(34, 101, 156, 0.925);
    border-radius: 10px;
    margin: 5%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 7%;
}

#contactImg {
    border-radius: 35px;
    margin: 10%;
    box-shadow: 10px 10px 0px #00e6e6,
                 20px 20px 0px #01cccc,
                 30px 30px 0px #00bdbd;
}

#containerJumbo {
    margin-top: 8%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    border-radius: 15px;
    border: 3px rgb(255, 255, 110) solid;
    background-color: rgba(255, 255, 255, .15);
}

#formJumbo {
    background-color: rgba(252, 252, 238, 0.973);
    margin: 7%;
    border-radius: 10px;
}

#detailsForm {
    font-family: 'Cabin Sketch';
    display: inline-block;
    text-align: center;
}

#registerCont {
    background-color: rgba(187, 187, 187, 0.308);
}

#footer {
    background-color: rgba(67, 184, 219, 0.795);
    height: 7vh;
    margin-top: 5%;
    padding-top: 1%;
    text-align: center;
    color: rgb(212, 212, 212);
}

#footer2 {
    background-color: rgba(67, 184, 219, 0.795);
    margin-top: 5%;
    height: 7vh;
    padding-top: 1%;
    text-align: center;
    color: rgb(212, 212, 212);
}